@using LT_Web_Nhom4.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav align-items-lg-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Exams" asp-action="Index">Phong thi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Classes" asp-action="Create">Tao lop</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Exams" asp-action="Create">Tao de</a>
        </li>
        <li class="nav-item">
            <span class="nav-link text-dark">Xin chao @User.Identity?.Name</span>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="btn btn-admin-return btn-sm"
                   asp-area="Admin"
                   asp-controller="Dashboard"
                   asp-action="Index">
                    Bang quan tri
                </a>
            </li>
        }
        <li class="nav-item">
            <form asp-area="Identity"
                  asp-controller="Account"
                  asp-action="Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                  method="post">
                <button type="submit" class="btn btn-outline-secondary btn-sm">Dang xuat</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Register">Dang ky</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary btn-sm" asp-area="Identity" asp-controller="Account" asp-action="Login">Dang nhap</a>
        </li>
    }
</ul>
